*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding-top: 30px;
    background-color: var(--body-color);
    color: var(--color);
    transition: background-color 0.5s ease;
}

:root{
    --main-color : #F39C12;
    --color: white;
    --body-color:black;
}

.lightmode{
    --color: black;
    --body-color:white;
}
.main{
  background-color: var(--body-color);
  margin-top: -20px;
}

.box{
    background-color: transparent;
    height: 500px;
    margin: auto;
    width: 300px;
    border: 3px solid var(--main-color);
    border-radius: 30px;
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    position: relative;
}

.joke {
    text-align: center;
font-size: 1.2em;
color: var(--color);
}
button{
    width: 6.3em;
    cursor: pointer;
    height: 2em;
    background-color: transparent;
    color: var(--main-color);
    padding: auto;
    font-size: 1.2em;
    border: 3px solid var(--main-color);
    border-radius: 15px;
}


@media only screen and (max-width:600px){
    body{
        padding-top: 90px;
    }
    .box{
        padding-top:0px;
    }
    .head{

        top: -50px;
        }
}

@media only screen and (min-width:600px){
    button:hover{
        background-color: var(--body-color);
        color: var(--main-color);
        border:2px solid var(--main-color);
    }
    .box{
        margin-top: 30px;
    }
}
.head{
    text-align: center;
    position: relative;
}

#theme{
    position: absolute;
    top: 13px;
}

.buttonflex{
    display: flex;
    align-items: center;
    justify-content: space-around;
   gap: 13px;
}